.navbar a{
	padding-left: 20px;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3f3f3f;
}

.nav2 .navbar-default .navbar-nav>li>a{
	color: black;
}

.nav2 .navbar-default{
	background: none;
	border: 0;
	
}


.col-xs-6.col-sm-6.col-md-3.col-lg-3 p{
	padding-left: 5px;
	padding-right: 5px;
}
.nav2 .navbar-default ul{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.nav2 .navbar-default ol{
	padding-bottom: 10px;
	padding-top: 15px;
}
.nav3 p a{
	display: inline-block;
	background: #f8f8f8;
	padding: 8px;
	margin: 5px;
	color: #080808;
}
.col-xs-6.col-sm-6.col-md-3.col-lg-3{
	padding-top: 30px;
	padding-left: 7px;
	padding-right: 7px;
}

.main2{
	background: #f8f8f8;
	padding-bottom: 40px;
	padding-top: 40px;
}
.main2 .col-xs-12.col-sm-6.col-md-3.col-lg-3{
	background: #fff;
	padding-right: 0;
	
}

.main2 .col-xs-12.col-sm-6.col-md-3.col-lg-3 img{
	padding-bottom: 0;
	margin-bottom: 0;
}

.bor{
	padding-top: 30px;
}

.footer li a{
	color: #999999;
}
.footer h5{
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.footer{
	border-bottom: 1px solid #C0C0C0;
	padding-bottom: 20px;
}

.footer1 li a{
	color: #0F0F0F;
}
.footer1 li{
	padding: 0 10px;
}

.footer1 li p{
	text-indent: 12px;
	color: #999999;
}

.footer1 span{
	color: #999999;
}

.footer1 .text-center{
	padding: 40px;
}

.address{
	background: #F8F8F8;
	padding-top: 50px;
}
